langchain==0.3.3
langchain_anthropic==0.2.3
langchain_community==0.3.2
langchain_core==0.3.12
langchain_openai==0.2.2
langchain-google-genai==2.0.1
langgraph==0.2.38
Pillow==11.0.0
pydantic==2.9.2
Requests==2.32.3
snowflake_connector_python==3.1.0
snowflake_snowpark_python==1.5.0
streamlit==1.33.0
websocket_client==1.7.0
duckduckgo_search==6.3.0