langchain==0.1.15
pandas==1.5.0
pydantic==1.10.8
snowflake_snowpark_python==1.5.0
snowflake-snowpark-python[pandas]
streamlit==1.31.0
supabase==2.4.1
unstructured==0.7.12
tiktoken==0.5.2
openai==1.17.0
black==23.3.0
boto3==1.28.57
langchain_openai==0.1.2
langchain-community==0.0.32
langchain-core==0.1.41